body {
    width: 70vh !important;
    margin: auto;
}
.blog-wrapper {
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
}
.blog-wrapper > a {
    text-decoration: none;
    color: unset;
}