body {
    width: 70vw !important;
    margin: auto;
}
.blog-wrapper {
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
}
.blog-wrapper > a {
    text-decoration: none;
    color: unset;
}
.web-code {
    font-size: 400px;
    text-align: center;
}
form {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 20px;
    width: 25rem;
    & input,
    & button {
        height: 2rem;
        font-size: 20px;
    }
    & textarea {
        height: 4rem;
        font-size: 20px;
    }
}