body {
    width: 70vw !important;
    margin: auto;
}
.blog-wrapper {
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
}
.blog-wrapper > a {
    text-decoration: none;
    color: unset;
}
.web-code {
    font-size: 400px;
    text-align: center;
}