body {
    margin-left: 0 !important;
    width: 90vw !important;
    display: flex;
}
#aside {
    background-color: lightblue;
    padding: 5px;
    width: 20vw;
    height: 100vh;
    margin-right: 20px;
    & .logo {
        font-size: 40px;
        margin-bottom: 1rem;
    }
    & nav a {
        margin-right: 1rem;
    }
    & nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        & a {
            font-size: 20px;
        }
    }
}