html {
    color-scheme: dark;
}
#header {
    background-color: #383838;
    padding: 5px;
    width: 70vw;
    & .logo {
        font-size: 40px;
        margin-bottom: 1rem;
    }
    & nav a {
        margin-right: 1rem;
    }
}
#footer {
    position: fixed;
    bottom: 0;
    background-color: #383838;
    padding: 5px;
    width: 70vw;
}